{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
    <!--link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"-->
    <link href="static/css/all.min.css" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block form_open %}{% endblock form_open %}
    {% block body %}
    
    {% block content %}
    <!-- render flash messages in base to enable flash in all pages-->
    <div class="container">
      {% block navbar %}
    <!--style="background-color: darkblue;-->
      <nav class="navbar">
        <a class="navbar-brand" href="#">
          <img src="{{url_for('static', filename='images/pile.jpg')}}"
          class="icon" alt="Pile" />
        </a>
        <!--button type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" class="navbar-toggler"
        aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
    	  <span class="navbar-toggler-icon"></span>
  	</button-->
        <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <a class="nav-item h2 active" href="{{url_for('index')}}">Home</a>
	      <a class="nav-item h2" href="{{url_for('books')}}">Books</a>
	      <a class="nav-item h2 disabled" href="{{url_for('members')}}">Members</a>
	      <a class="nav-item h2" href="{{url_for('transactions')}}">Transactions</a>
	    </ul>
  	    <!--form class="form-inline">
  	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  	    </form-->
  	</div>
      </nav>    
      {%- endblock navbar %}
      {% block page_content %}
      <div class="page_content">
	{% block sidebar %}
	
	{% endblock sidebar %}
	{% block main %}
	<div class="main">
	  {% for message in get_flashed_messages() %}
	  <div class="alert alert-warning">
	    <button type="submit" class="close" data_dismiss="alert" name="exit_page" value="selected">
	    <i class="fas fa-x"></i></button>
	    {{ message }}
	  </div>
	  {% endfor %}
	  {% block main_content %}{% endblock main_content %}
	</div>
	{% endblock main %}
      </div>
      {% endblock page_content %}
    </div>
    {%- endblock content %}
    
    {% block scripts %}
    <script src="{{url_for('static', filename='jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    <script src="{{url_for('static', filename='load_image.js')}}"></script>
    {%- endblock scripts %}
    {%- endblock body %}
    {% block form_close %}
    {% endblock form_close %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
